/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 10%; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); }
footer {
    margin: 3%;
    font-family: sans-serif;
    text-align: center;
    color: #dbedf3;
    
  }